<div class="login-box">
    <div class="login-logo">
         <a href=''><img class="img-fluid img-center login-logo" src="assets/images/logo.png"></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
			<p class='head_cap'>Reset Your passwrod</p>
        	<p class='login_form_err_msg'>{{form_error}}</p>
        	<p class='forgot_form_success_msg'>{{success_form_msg}}</p>
				<form [formGroup]="resetForm" (ngSubmit)="onPasswordUpdate()">
					<div id="user-data" *ngIf="form_show === true;else second">	
					<div class="form-group">
					
						<input
						  type="hidden"
						  id="user_email"
						  formControlName="user_email"
						  class="form-control" [(ngModel)]="user_email">
					  </div>
					<div class="form-group">
						<label for="password">New Password</label>
						<input
						  type="password"
						  id="New_password"
						  formControlName="New_password"
						  class="form-control" ng-model="New_password" >
						  <p class='err_msg'>{{new_pass_error}}</p>
					  </div>
					  
					  <div class="form-group">
						<label for="password">Confirm Password</label>
						<input
						  type="password"
						  id="c_New_password"
						  formControlName="c_New_password"
						  class="form-control" ng-model="c_New_password" >
						  <p class='err_msg'>{{c_new_pass_error}}</p>
					  </div>
					  <div class="form_btn">
						<button class="btn btn-primary" type="submit">Reset</button>
					  </div>					  
					</div>
				  </form>
				  <div class='other_links'>
					<button type="button" [routerLink]="['/user-login']"  class="btn btn-link">Sign in</button>
				  </div>
				  <ng-template #second>
						<div *ngIf="form_show === false;else third">
							<p class='login_form_err_msg'>{{expire_err}}</p>
						</div>
					</ng-template>
					
					<ng-template #third>
							<p class='login_form_err_msg'>{{bad_req_err}}</p>
					</ng-template>
            </div><!-- /.login-box-body -->
</div>