<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top derk-nav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">hat-we-khod</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto center-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="mailto:hatwekhod@yandex.com"><img src="assets/images/mail-btn.png" alt=""> hatwekhod@yandex.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/hatwekhodbarter/">
            <img src="assets/images/facebook-btn.png" alt=""> Post from facebook to friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://hatwekhod.cfapps.io/#/login"><img src="assets/images/login-btn.png" alt=""> Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full">
  <img class="img-fluid d-block mx-auto" src="assets/images/bater-logo.png" alt="" width="150" [routerLink]="['/']">
  <!-- <h1><span>Explore</span> Our Products
  </h1> -->
  <a [routerLink]="['/']">Explore our Service</a>
</header>

<!-- Content section -->
<section class="py-5 about-text">
  <div class="container">
    <h2 class="headline">Endorsing Barter System For A Better Future</h2>
    <div class="row">
      <div class="col-md-12 col-xs-12">

        <p class="lead">The barter system is a way to counter currency hyperinflation.<br>It's a smarter way to immune
          yourself from current currency crisis across the world.
        </p>
        <!-- <p>
          The world is connected through trade and commerce and it is great but at the same time, fluctuation in
          different currency rates affect the process and world economy at large. Why not then follow our forefathers?
          <b>Barter system</b> in <b>ancient Egypt</b> significantly helped in forming a robust business scenario and
          economy. <br><br>

          Taking a page out from the glorious history of <b>ancient Egypt</b>, Hat we Khod brings you an opportunity to
          make your purpose immune to the hazards of currency hyperinflation. Though <b>Egypt currency</b> crisis is
          much less but having a good alternative is a smarter plan. So we bring you a platform where you can connect
          to your community and trade items with other users following the <b>barter system</b>, and even share your
          story with us.<br><br>

          You have been using the money to get your necessities and travel places but if there are issues with carrying
          cash or the electronic system fails, you might land in trouble. Hat we Khod fosters and strives to create a
          bartering community which will cushion you from such risks. Moreover, it bartering can even become the
          principal way to procure things and services. Not just these, by endorsing <b>barter system</b> you can also
          ensure optimal utilization of personal and natural resources without any wastage. It creates a perfect
          ecosystem for the community that stands by each other. <br><br>

          Often we tend to ignore what helped us make our 'present'. It's time to get back to the past and endorse
          bartering as a means of procuring our needs and requirements, in a more sustainable way.
        </p> -->
      </div>

    </div>

  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 process derk-nav text-center">
  <div class="container">
    <h2 class="headline">process flow</h2>
    <div class="row">
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/pass-word.png" alt="">
        <h3>Login</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/location.png" alt="">
        <h3>Choose your location</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/select.png" alt="">
        <h3>Offer your product/service</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/handshake.png" alt="">
        <h3>Lets barter</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>

    </div>
  </div>
</section>

<section class=" search-site">
  <img class="img-fluid" src="assets/images/cover-image1.jpg" alt="">
</section>


<section class="map-location ">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d442764.2895154335!2d30.89581!3d29.890334000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7686c83eb4e20600!2sSphinx+International+Airport!5e0!3m2!1sen!2sus!4v1532167115357"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</section>


<!-- Footer -->
<footer class="py-3 bg-dark">
  <div class="container">

    <div class="row part-ii">


      <div class="col-md-4 col-sm-12">
        <img class="img-fluid" src="assets/images/bater-footer-logo.png" alt="" [routerLink]="['/']">

      </div>
      <div class="col-md-4 col-sm-12">
        <h3>Social share</h3>
        <ul>
          <li> <a target="_blank" href="https://www.facebook.com/hatwekhodbarter/"><i class="fa fa-facebook"
                aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://twitter.com/hatwekhod"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://www.instagram.com/hatwekhod/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://www.pinterest.com/hatwekhod/"><i class="fa fa-pinterest-square"
                aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://plus.google.com/u/0/107237992379654410802"><i class="fa fa-google"
                aria-hidden="true"></i></a></li>
        </ul>


      </div>
      <div class="col-md-4 col-sm-12">
        <h3>What is HatWeKhod?</h3>
        <p>HatWeKhod is an open source project that connects you to your community and allows you to trade items with other people in your area.</p>
        <!-- <p>Barter is an interface that connects you to your community and allows you to trade items with other users
          and share the story behind them.
        </p> -->
      </div>

    </div>

  </div>
  <!-- /.container -->
</footer>
