<div  ng-class="{'arabic_app': lang == 'ar'}">   
    <a class="corner_anchor" href="https://hatwekhod.github.io/barter/" target="_blank"><img src="styles/images/sideimage.png" alt="Built at GitHub" class="corner"></a>
    <button ng-show="lang == 'en'" ng-click="updateLanguage('ar')" translate="BUTTON_LANG_AR"></button>
  <button ng-show="lang == 'ar'" ng-click="updateLanguage('en')" translate="BUTTON_LANG_EN"></button>
  <div class='box postForm'>
  <!--<h1><a href='#' class='logo'>Barter</a></h1>-->
   <a href="#/">
   <img src="/styles/images/HatWeKhood.png" class="hat_We_hod_logo">
   </a>
  <form ng-submit='postImage()'>
    <div>
       <p>{{ 'WHAT_ITS_CALLED' | translate }}</p>
      <input type='text' ng-model='itemName' ng-required='true' autofocus='autofocus'></input>
    </div>
    <div>
       <p>{{ 'TELL_US' | translate }}</p>
      <input type='text' ng-model='description' ng-required='true'></input>
    </div>
    <div>
       <p>{{ 'WHAT_IS_CONDITION' | translate }}</p>
      <input type='text' ng-model='condition' ng-required='true'></input>
    </div>
    <div>
     <p>{{ 'UPLOAD_IMAGE' | translate }}</p>
      <input class="file_brows_btn" type='file' accept='image/*' image='image' resize-max-height='300' resize-max-width='250' resize-quality='0.7' ng-required='true'/>
     <p ng-show='image'>{{ 'IS_CORRECT' | translate }}</p>
      <img ng-show='image' ng-src='{{image.resized.dataURL}}'/>
    </div>
     <button ng-disabled='disabled'>{{ 'SUBMIT' | translate }}</button>
    <button type='reset'>{{ 'CLEAR' | translate }}</button>
    <a class="dashboard_btn" href="#/">{{ 'BACK' | translate }}</a>
  </form>
  <img ng-show='postSpinnerDisplay' src='/styles/images/ajax-loader.gif'/>
</div>
</div>
