<div class="{{'direction' | translate}}">
  <section class="login-block">
    <a class="nav-link" [routerLink]="['.']" (click)="useLanguage()">{{'BUTTON_LANG' | translate}}</a>
    <div class="container login-box">
      <div class="row">
        <div class="col-md-4 login-sec">
          <img class="img-fluid img-center" src="assets/images/logo.png">
          <h2>{{'WHAT_IS_BARTER' | translate}}</h2>
          <p>{{'BARTER_INFO' | translate}}</p>
          <h2>{{'TRY_IT_OUT' | translate}}</h2>
          <ul>
            <li>{{'LOGIN_WITH_FB' | translate}}</li>
            <li>{{'BROWSE_ITEMS' | translate}}</li>
            <li>{{'FIND_ITEM' | translate}}</li>
          </ul>
          <div class='custom_login'>
		  	  <button [routerLink]="['/user-register']" class='btn btn-primary'>{{'REGISTER' | translate}}</button>
		  	  <button [routerLink]="['/user-login']" class='btn btn-primary'>{{'LOGIN' | translate}}</button>
		  </div>
          <a type="button" class="btn btn-primary facebook-login" href='/auth/facebook'>
            <i class="fa fa-facebook" aria-hidden="true"></i> {{'LOGIN_FB' | translate}}</a>
        </div>
        <div class="col-md-8 banner-sec">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="assets/images/login.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/images/login-a.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="assets/images/login-b.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                  <div class="banner-text">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row log_area_sec bg-dark">

        <div class="col-md-12">
          <ul>
            <li> <a target="_blank" href="https://www.facebook.com/hatwekhodbarter/"><i class="fa fa-facebook"
                  aria-hidden="true"></i></a></li>
            <li> <a target="_blank" href="https://twitter.com/hatwekhod"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li> <a target="_blank" href="https://www.instagram.com/hatwekhod/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li> <a target="_blank" href="https://www.pinterest.com/hatwekhod/"><i class="fa fa-pinterest-square"
                  aria-hidden="true"></i></a></li>
            <li> <a target="_blank" href="https://plus.google.com/u/0/107237992379654410802"><i class="fa fa-google"
                  aria-hidden="true"></i></a></li>
          </ul>
          <p class="m-0 text-white">{{'COPYRIGHT' | translate}} &copy; HatWeKhod</p>
        </div>
      </div>
    </div>
    <div class="fork-me_container">
      <div class="fork-me__header">
        <span class="fork-me__text">
          <a target="_blank" href="https://github.com/HatWeKhod/barter">Built at GitHub</a>
        </span>
      </div>
    </div>
  </section>
</div>
