<!-- <loading [state]="loading">
    <section id="LoginForm">
        <div class="container">
            <div class="login-form">
                <div class="main-div">
                    <div class="panel">
                        <a [routerLink]="['']"><img class="img-fluid img-center" src="assets/images/logo.png"></a>
                        <h2>{{'POSTYOURITEM' | translate}}</h2>
                    </div>
                    <form id="Login" role="form" [formGroup]="form" novalidate>
                        <div class="form-group">
                            <label>{{'WHAT_ITS_CALLED' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" formControlName="itemName" [ngClass]="displayFieldCss('itemName')">
                            <div class="invalid-feedback" *ngIf="isFieldValid('itemName')">
                                {{'ERR_TITLE' | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'TELL_US' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" formControlName="description" [ngClass]="displayFieldCss('description')">
                            <div class="invalid-feedback" *ngIf="isFieldValid('description')">
                                {{'ERR_DESC' | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'WHAT_IS_CONDITION' | translate}}</label>
                            <input type="text" class="form-control" placeholder="" formControlName="condition" [ngClass]="displayFieldCss('condition')">
                            <div class="invalid-feedback" *ngIf="isFieldValid('condition')">
                                {{'ERR_CONDITION' | translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{'UPLOAD_IMAGE' | translate}}</label>
                            <input type="file" class="form-control is-invalid" (change)="onImageChange($event)" accept="image/*" [ngClass]="{
                  'is-invalid': file_error,
                  'is-valid': !file_error
                }">
                            <div class="invalid-feedback" *ngIf="file_error">
                                {{'ERR_IMAGE' | translate}}
                            </div>
                        </div>
                        <img class="post_image" *ngIf="base64textString" [src]="sanitizer.bypassSecurityTrustUrl(base64textString)" height="300" width="250">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary" (click)="addPost()">{{'SUBMIT' | translate}}</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary" (click)="reSet()">{{'CLEAR' | translate}}</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary" (click)="back()">{{'BACK' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</loading>  -->


<loading [state]="loading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 main-color  min-height-700 ">
                <a [routerLink]="['']"><img class="img-fluid img-center" src="assets/images/logo.png"></a>
                <h1 class="text-white text-center text-size-20">{{'TAKE_LOOK' | translate}}</h1>
                <div class="search-sec">
                    <button type="button" class="btn btn-secondary full-btn" (click)="back()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i> {{ 'BACK' | translate }}</button>
                </div>
            </div>
            <div class="col-lg-9 reg-sec-full">
                <div class="row">
                    <div class="login-form d-flex align-middle">
                        <div class="main-div mt-15 shadow">
                            <div class="panel">
                                <!-- <a><img class="img-fluid img-center" src="assets/images/upload.png"></a> -->
                                <h2>{{'POSTYOURITEM' | translate}}</h2>
                            </div>
                            <form id="Login" role="form" [formGroup]="form" novalidate>
                                <div class="d-flex justify-content-between">
                                    <div class="form-group">
                                        <label>{{'WHAT_ITS_CALLED' | translate}}</label>
                                        <input type="text" class="form-control" placeholder="" formControlName="itemName" [ngClass]="displayFieldCss('itemName')">
                                        <div class="invalid-feedback" *ngIf="isFieldValid('itemName')">
                                            {{'ERR_TITLE' | translate}}
                                        </div>
                                    </div>
                                    <div class="form-group mr-1 ml-1">
                                        <label>{{'TELL_US' | translate}}</label>
                                        <input type="text" class="form-control" placeholder="" formControlName="description" [ngClass]="displayFieldCss('description')">
                                        <div class="invalid-feedback" *ngIf="isFieldValid('description')">
                                            {{'ERR_DESC' | translate}}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>{{'WHAT_IS_CONDITION' | translate}}</label>
                                        <input type="text" class="form-control" placeholder="" formControlName="condition" [ngClass]="displayFieldCss('condition')">
                                        <div class="invalid-feedback" *ngIf="isFieldValid('condition')">
                                            {{'ERR_CONDITION' | translate}}
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label>{{'UPLOAD_IMAGE' | translate}}</label>
                                    <input type="file" class="form-control is-invalid" (change)="onImageChange($event)" accept="image/*" [ngClass]="{
              'is-invalid': file_error,
              'is-valid': !file_error
            }">
                                    <div class="invalid-feedback" *ngIf="file_error">
                                        {{'ERR_IMAGE' | translate}}
                                    </div>
                                </div>






                                <img class="post_image" *ngIf="base64textString" [src]="sanitizer.bypassSecurityTrustUrl(base64textString)" height="300" width="250">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary" (click)="addPost()">{{'SUBMIT' | translate}}</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary" (click)="reSet()">{{'CLEAR' | translate}}</button>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <button type="submit" class="btn btn-primary" (click)="back()">{{'BACK' | translate}}</button>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</loading>