<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top derk-nav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">hat-we-khod</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto center-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="mailto:hatwekhod@yandex.com"><img src="assets/images/mail-btn.png" alt=""> hatwekhod@yandex.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/hatwekhodbarter/">
            <img src="assets/images/facebook-btn.png" alt=""> Post from facebook to friends</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://hatwekhod.cfapps.io/#/login"><img src="assets/images/login-btn.png" alt=""> Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full">
  <img class="img-fluid d-block mx-auto" src="assets/images/bater-logo.png" alt="" width="150" [routerLink]="['/']">
  <!-- <h1><span>Explore</span> Our Products
  </h1> -->
  <a [routerLink]="['/']">Explore our Service</a>
</header>

<!-- Content section -->
<section class="py-5 about-text">
  <div class="container">
    <h2 class="headline">Barter System To Make Your Goals Immune To Market Threats</h2>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p class="lead">It's the smartest alternative to deal with a currency crisis.<br>Barter system to dilute the
          currency hyperinflation issue.
        </p>
        <p>When trade and commerce across the world are revolutionized by electronic money and cryptocurrency, the
          barter system is set to claim its importance, again! To have the simplest of understanding, barter is the
          exchange of one good or service for the other good or service, without involving money in the process. The <b>barter
            system</b> was a common practice during ancient times, all over the world.<br><br>

          Barter was even a part of regular <b>trading economics</b> in Venezuela too but it has been replaced by
          money, electronic money and now cryptocurrency. However, increasing currency hyperinflation poses a serious
          threat to prevailing businesses and other non-profit motives. So switching to barter system offers immunity
          to your goals and assures sustainability.<br><br>

          Hat we Khod offers you an unmatched opportunity to practice bartering to connect with your community and at
          the same time allows you to trade articles with others in the community and share the story. This could be an
          interesting way to increase activity within the group and strengthen its bonding. Using the barter system is
          a smart approach to counter the increasing threat of currency crisis across the world, and particularly in
          Venezuela. <br><br>

          Often the critics of the barter system may attempt to ridicule the idea with discouraging claims. However,
          there are many reasons to not subscribe to their views. This typical system of trading can simplify trade
          like nothing else - you give off something that you don’t need in exchange of useful things. It can become a
          great uniting force by enabling you to help each other in overcoming regular challenges, by encouraging
          unity, supporting social coexistence, cooperation and enhance your survival instincts.

        </p>
      </div>

    </div>

  </div>
</section>



<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 process derk-nav text-center">
  <div class="container">
    <h2 class="headline">process flow</h2>
    <div class="row">
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/pass-word.png" alt="">
        <h3>Login</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/location.png" alt="">
        <h3>Choose your location</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/select.png" alt="">
        <h3>Offer your product/service</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>
      <div class="col-md-3">
        <img class="img-fluid" src="assets/images/handshake.png" alt="">
        <h3>Lets barter</h3>
        <!-- <p>Browse items within your community a placerat elementum</p> -->

      </div>

    </div>
  </div>
</section>

<section class=" search-site">
  <img class="img-fluid" src="assets/images/cover-image1.jpg" alt="">
</section>


<section class="map-location ">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d442764.2895154335!2d30.89581!3d29.890334000000003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7686c83eb4e20600!2sSphinx+International+Airport!5e0!3m2!1sen!2sus!4v1532167115357"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</section>


<!-- Footer -->
<footer class="py-3 bg-dark">
  <div class="container">

    <div class="row part-ii">


      <div class="col-md-4 col-sm-12">
        <img class="img-fluid" src="assets/images/bater-footer-logo.png" alt="" [routerLink]="['/']">

      </div>
      <div class="col-md-4 col-sm-12">
        <h3>Social share</h3>
        <ul>
          <li> <a target="_blank" href="https://www.facebook.com/hatwekhodbarter/"><i class="fa fa-facebook"
                aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://twitter.com/hatwekhod"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://www.instagram.com/hatwekhod/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://www.pinterest.com/hatwekhod/"><i class="fa fa-pinterest-square"
                aria-hidden="true"></i></a></li>
          <li> <a target="_blank" href="https://plus.google.com/u/0/107237992379654410802"><i class="fa fa-google"
                aria-hidden="true"></i></a></li>
        </ul>


      </div>
      <div class="col-md-4 col-sm-12">
        <h3>What is HatWeKhod?</h3>
        <p>Barter is an interface that connects you to your community and allows you to trade items with other users
          and share the story behind them.
        </p>
      </div>

    </div>

  </div>
  <!-- /.container -->
</footer>
