@import url("https://fonts.googleapis.com/css?family=Poiret+One");
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
button {
    font-family: 'Poiret One';
    padding: 0 0.563rem;
    font-size: 15px;
    line-height: 1.313rem;
    letter-spacing: 0;
/*    color: #c6c8c8;*/
   color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.69);
    vertical-align: top;
    background-color: #595b5b;
    -webkit-box-shadow: inset 0 1px #737373;
    box-shadow: inset 0 1px #737373;
    border: 1px solid #333434;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
button:hover {
    background-color: #626465;
}
button:focus {
    border: 1px solid #0036ff;
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
    box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;
    outline: 0;
}
button:active {
    border: 1px solid #333434;
    background-color: #3f4041;
    -webkit-box-shadow: inset 0 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px rgba(0,0,0,0.05);
}
button.conversationContainer {
    margin: 5px;
}
input[type='text'] {
    line-height: 1.688rem;
    font-size: 0.875rem;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    vertical-align: top;
    outline: none;
}
.replyInput {
    width: 98% !important;
}
.searchDashboard {
    width: 95%;
}
typography.styl,
body {
    font-family: 'Poiret One';
    color: #333;
    font-weight: 200;
    line-height: 19px;
    font-size: 18px;
}
.login {
    line-height: 25px;
}
.logo {
    color: #000;
    text-decoration: none;
    font-family: 'Poiret One';
    font-size: 90px;
}
.post h2 {
    line-height: 15px;
    font-size: 13px;
}
.date {
    font-size: 12px;
}
.underline {
    text-decoration: underline;
}
.messageContainer {
    line-height: 13px;
}
.wrapper {
    width: 1080px;
    margin: 0 auto;
}
body {
    margin: 0;
    background: #fff;
    /*background: #3a6f85;*/
    padding: 10px;
}
.sidebar {
    height: 39em;
    width: 40%;
    float: left;
    position: relative;
    border: 5px solid #000;
    padding: 20px;
    margin: 20px 0;
    background-color: #1E2424;
/*    background-color: #dadada;*/
    text-align: center;
}
.sidebar h4 {
    margin: 15px 0;
}
.sidebar h4 input {
    /*width: 40%;*/
}
.search_box{
width: 95%;
}
.postsContainer {
    padding: 5px;
    overflow: auto;
    height: 65%;
}
.post,
.conversationContainer {
    text-align: left;
    background-color: #7fbe6b;
    margin: 5px;
    border: 4px solid #6f853a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.post img,
.conversationContainer img {
    width: 30%;
    margin: 10px 5px 5px 5px;
    border: 2px solid #000;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    vertical-align: top;
}
.post div {
    display: inline-block;
}
.postText {
    width: 63%;
    height: 7em;
    overflow: auto;
    margin-top: 0;
}
.post:hover {
    background-color: #ebf9fb;
}
.conversationsContainer {
    padding: 1em;
    height: 31em;
    overflow: auto;
}
.imageContainer {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 95%;
    width: 30%;
}
.conversationContainer {
    display: block;
    text-align: left;
    height: 30%;
    width: 29em;
    background-color: #7fbe6b;
    padding-bottom: 10px;
    margin: 5px auto;
    border: 4px solid #6f853a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.conversationContainer .deletePost {
    display: none;
}
.conversationContainer:hover .deletePost {
    display: inherit;
}
.postForm,
.conversations {
    width: 23em;
    border: 5px solid #000;
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: #1E2424;
}
.conversations {
    /*height: 39em;*/
    width: 34em;
    overflow: hidden;
}
.postDescription {
    position: relative;
    display: inline-block;
    overflow: auto;
    height: 100%;
    width: 65%;
}
.postDescription p {
    margin: 10px 0;
}
.deletePost {
    display: inline-block;
}
.messageContainer {
    text-align: left;
    overflow: auto;
    height: 130px;;
    border: 1px solid #000;
    margin: 5px;
    padding: 5px;
}
.postMessage {
    width: 100%;
}
#fileupload-resize-area {
    display: none;
}
.login {
    height: 39em;
    z-index: -1;
    margin: 5px;
    width: 30%;
}
img.cross {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
}
img.check {
    width: 20px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
}
img.thumb {
    width: 20px;
    border: none;
    position: relative;
    right: 0;
    margin: 0;
}
.corner {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    border: 0;
    /*width:175px;*/
}
.imageContainer > img {
    width: 78%;
}
.spinner {
    /*left: 2em;*/
	/*background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;*/
    border-radius: 50%;
    left: 40%;
    position: absolute;
    top: 50%;
    z-index: 1;
}
#map-canvas {
    height: 39em;
    width: 50%;
    float: left;
    border: 5px solid #000;
    padding: 20px;
    margin: 20px 5px 20px 0;
}
#fbId,
#_id,
.gm-style-cc,
img[src*='https://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png'] {
    display: none;
}
#map-canvas.login {
    height: 39em;
    width: 50%;
    z-index: -1;
    margin: 5px;
}
.infobox {
    border: 2px solid #000;
    margin-top: 8px;
    background: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    padding: 0.5em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 0 -1px #000;
    -webkit-box-shadow: 0 0 8px #000;
    box-shadow: 0 0 8px #000;
}
.infobox img {
    border: 2px solid #47e;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 200px;
}
.modalMask {
    z-index: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}
.modal {
    z-index: 11;
    height: 15em;
    width: 18em;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: left;
    padding: 20px;
    margin: -9em 0 0 -9em;
    border: 5px solid #000;
    background-color: #dadada;
}
.conversationModal {
    text-align: center;
    /*height: 600px;*/
    height: auto;
    width: 50%;
    top: 18%;
    font-size: 15px;
    left: 30%;
    margin: -100px 0 0 -100px;
}
.editIcon{
    float: right;
    position: absolute;
    right: 25px;
    top: 8px;
    z-index: 9999;
    /*border:1px solid black;*/
    cursor: pointer;
}
.searchPosts{
    position: relative;
} 
form.ng-invalid-autocomplete-required input {
    /*border-color: red;*/
}
.angucomplete-dropdown{
    overflow-y: auto;
    max-height: 200px; 
    width:100% !important;
    margin-top:-1px !important;
}
#ex2_value{
    width: 100%;
}
.fa-2x{
    font-size: 1.3em !important;   
}
.post_rejected{
    background-color: indianred;
    border:4px solid #dc2a2a;
}

/*.feedback{
    float: right;
    right: 0px;
    font-size: 14px;
    margin: 2px;
    color: #ED7B01;
    position: fixed;
    z-index: 101;
    padding:9px 6px;
}*/
.feedback{
    /*float: right;*/
    /*right: 0px;*/
    font-size: 14px;
    margin:0px 2px;
/*    color: #ED7B01;*/
    color: #fff;
    /*position: fixed;*/
    z-index: 101;
    /*padding:9px 6px;*/
}
.sidebar p, .sidebar h1, .sidebar ol li , .sidebar h4{
    color: #fff;
}
.hat_We_hod_logo {
    width: 140px;
    margin-top: -15px;
}
.postForm p{
    color: #fff;
}
.dashboard_conversations h4{
        color: #fff;
}
.postForm input,.conversations  input{
    color: #fff;
}



.place_input{
top:10px !important;
}
.file_brows_btn{
left: 40px;
    position: relative;
}
.dashboard_btn{
background-color: #595b5b;
    border: 1px solid #333434;
    border-radius: 4px;
    box-shadow: 0 1px #737373 inset;
    color: #c6c8c8;
    font-family: "Poiret One";
    font-size: 17px;
    letter-spacing: 0;
    line-height: 1.313rem;
    padding: 0 0.563rem;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
    vertical-align: top;
	text-decoration: none;
}
a.corner_anchor {
    padding-left: 48px;
}

ol li {
    text-align: left;
}
.imgBarterDiv{
    overflow: auto;
    max-height: 140px;
}

/*//arabic css starts*/
.arabic_app{
    direction: rtl;
}
.arabic_app .editIcon {
    left: 25px;
    right:auto;
}
.arabic_app .barterPostModal {
    text-align: right;
}
.arabic_app .file_brows_btn {
right:40px;
}
.arabic_app .messageContainer {
  text-align: right;
}
.arabic_app  .conversationContainer {
text-align:right;
}
.arabic_app .corner_anchor img{
 left:0;
 transform: rotate(-90deg);
 -webkit-transform:  rotate(-90deg);
}
.arabic_app .feedback  {
}
.arabic_app .feedbackModal {
        left: 43% !important;
}
.arabic_app ol li {
    text-align:right;
}
.arabic_app .postText {
    text-align: right;
}
.arabic_app .try_it_out {
    text-align: right !important;
}

/* new added css */

.common-data h1, h2, h3, h4 {

    padding: 5px 0px;
    margin: 0;
}
.common-data h1 {
    font-size: 18px;
}
.common-data h2 {
    font-size: 18px;
} 
.common-data h3, h4 {
    font-size: 16px;

}  
.common-data ul { margin: 0;     padding: 10px 0;  }

.common-data ul li {
    background: url(list-style.png) no-repeat 8px 4px;
    list-style: none;
    padding-left: 24px;
}
.common-data img {     
    float: left;
    margin-right: 15px; 
}
/* new added css */

@media screen and (min-width: 1000px) {
.arabic_app #map-canvas {
    float: right;
}.arabic_app .sidebar {
    float: right; 
}
}

@media screen and (min-width: 1300px)and (min-width: 1366px) {
a.corner_anchor {
  padding-left: 132px;
}
}
@media screen and (min-width: 1000px)and (min-width: 1280px) {
a.corner_anchor {
    padding-left: 90px;
}
}
@media screen and (max-width: 999px) {
    .feedbackModal{
        left:45% !important;
    }
    .arabic_app .feedbackModal {
        left: 51% !important;
}
    .box.sidebar.login{
        /*width:86%;*/
        width:100%;
    }
    #map-canvas.login{
        /*width:86% !important;*/
        width:100% !important;
    }
    .wrapper{
        width:90% !important;
    }
    #map-canvas{
/*        width: 85% !important;*/
        width: 100% !important;
         box-sizing: border-box;
    }
    .sidebar{
        /*width:85%;*/
        width:100%;
         box-sizing: border-box;
    }
    .conversationContainer{
        width:auto;
    }
    .conversations {
        width:auto;
    }
    .conversationModal{
       width: auto!important;
max-height: 410px;
overflow:auto;
top:25% !important;
    }
    .post{
        text-align: center;
    }
    .postForm {
        width:auto;
    }
}
@media screen and (max-width: 767px) {
.rating_y{
float: left;
    margin: 10px 0;
    width: 100%;
}
.modal{
width:auto;
}
}
@media screen and (max-width: 436px) {
    .corner{
        /*width:27%;*/
    }
    .feedback{
        /*font-size: 9px !important;*/
        margin:0px !important;
    }
}
@media screen and (max-width: 415px) {
.place_input{
top:50px !important;
left:10px !important;
}
.postForm input [type='text']{
    width: 25% !important;
}

.postForm input,.conversations  input{
 width:90%;
}
a.corner_anchor {
    padding-left: 19px;
}
}
@media screen and (max-width: 320px) {
    a.corner_anchor {
     padding-left: 16px;
    }
}