doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    title= Barter
    link(rel='stylesheet' href='styles/mains.css?v=1.1')
    link(rel='stylesheet' href='lib/angular-rating/main.css')
    link(rel='stylesheet' href='lib/angular-rating/fontawesome.css')
    link(rel='stylesheet' href='ang-autocomplete/angucomplete-ie8.css')
   html
  head
  body
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter47292522 = new Ya.Metrika({
      id:47292522,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true,
      trackHash:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/47292522', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter

  body(ng-app='barterApp')
    a(href='https://hatwekhod.github.io/barter/' target="_blank")
                   img.corner(src='styles/images/sideimage.png' alt='Built at GitHub' )
    div.container(ng-view)
      //- Google Maps
      script(src='https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false')

      //- Libraries
      script(src='lib/infobox.js')
      script(src='lib/angular/angular.min.js')
      script(src='lib/angular-route/angular-route.min.js')
      script(src='lib/angularjs-imageupload-directive/public/javascripts/imageupload.js')
      script(src='lib/lodash/dist/lodash.min.js')
      script(src='lib/markerclusterer/markerclusterer.js')
      script(src='lib/OverlappingMarkerSpiderfier/oms.min.js')
      script(src='lib/angular-rating/main.js')
      script(src='ang-autocomplete/dist/angucomplete-ie8.min.js')

      //- App
      script(src='app.js')

      //- Controllers
      script(src='controllers/main.js')
      script(src='controllers/post.js')
      script(src='controllers/conversations.js')

      //- Services
      script(src='services/map.js')

      
